/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

body {
  font-family: "Vollkorn", serif;
  color: #eee5e5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Signika", sans-serif;
  font-weight: 300;
}

ul {
  list-style-type: none;
}

.spanImage {
  margin: 0 auto;
}

.imageText {
  position: absolute;
  /* top: 50px; */
  width: 100%;
  margin-left: 15%;
}

.imageText h3 {
  color: #eee5e5;
  font-size: 40px;
  font-weight: 500;
  font-family: paralucent, sans-serif;
  font-weight: 500;
}

.imageText h4 {
  color: #eee5e5;
  font-size: 20px;
  font-family: paralucent, sans-serif;
  font-weight: 300;
  letter-spacing: 2px;
}

.title-area a {
  font-family: paralucent, sans-serif;
  font-weight: 500;
  font-size: 24px;
  color: #eee5e5;
}

.right-link a {
  font-family: paralucent, sans-serif;
  font-weight: 300;
}

.imageToSpan {
  object-fit: cover;
  width: 100%;
  height: 300px;
}




.attraction-tile-li a {
  color: white;
}

.attraction-tile-image {
  text-overflow: ellipses;
  object-fit: contain;
  width: 250px;
  height: 250px;
}

.attraction-tile-li {
  vertical-align: middle;
  display: inline-block;
  background-color: #0b1019;
  /* padding: 5px 5px 5px 5px; */
  margin: 20px;
  text-align: center;
  border-radius: 0 0 20px 20px;
  font-family: paralucent, sans-serif;
  font-variant: small-caps;
  font-size: 20px;
}

.attraction_tile_actual_image {
  width: 250px;
  height: 250px;
  object-fit: cover;
}

.attraction-text {
  margin-top: 10px;
  line-height: 1.25;
  padding-bottom: 20px;
  width: 250px;
}



.attraction-link {
  height: 25px;
  background-color: #FA4540;
}

.attractions-container {
  margin: 0 15% 0 15%;
}

.banner-image {
  position: relative;
  margin-left: 10%;
  color: black;
}

.top-bar, .top-bar a {
  background-color: #0b1019;
}

.navBarMargins {
  margin: 0 15% 0 15%;
}

#sign-up {
  background-color: #ee274f;
  font-family: paralucent, sans-serif;
  font-weight: 300;
  font-size: 17px;
}

#sign-in, #add_attraction, #my-reviews, #sign-out {
  background-color: #0b1019;
  font-family: paralucent, sans-serif;
  font-weight: 300;
  font-size: 17px;
}

.bottom-center {
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff,
    0 0 50px #fff, 0 0 60px #fff, 0 0 70px #fff;
    /* position: absolute;
  top: 8px;
  left: 16px; */
}

.dog-image {
  width: 28px;
  display: inline-block;
}

.name h1 {
  display: inline-block;
}

.attraction-form {
  margin: 20px 15% 0 15%;
}

.small-form {
  display: inline-block;
  width: 33%;
}

.medium-form {
  display: inline-block;
  width: 49.8%;
}

.submit-button {
  background-color: #ee274f;
}

.attraction-image {
  float: left;
}

.flash {
  margin: 0 15% 0 15%;
}

/*SHOW PAGE*/

#attraction-image-square {
  margin-top: 15px;
  width: 40%;
}

#attraction-main-image {
  width: 100%;
  height: auto;
  margin-right: 5%;
  float: left;
  margin-bottom: 20px;
}

.attraction-details {
  padding-left: 10%;
}

.attraction-details-alignment {
  vertical-align: text-bottom;
}

#attraction-description {
  clear: both;
  color: #0b1019;
  font-weight: 500;
}

#attraction-name {
  font-family: paralucent, sans-serif;
  color: #ee274f;
  font-weight: 500;
}

#attraction-address, #attraction-city-state-zip {
  font-size: 20px;
  color: #0b1019;
}

.attraction-delete-button {
  background-color: #ee274f;
  font-family: paralucent, sans-serif;
  font-weight: 300;
  font-size: 20px;
}

.delbuttoncont {
  text-align: right;
}

.button-group {
  text-align: right;
}

#submit-button {
  background-color: #ee274f;
  font-family: paralucent, sans-serif;
  font-weight: 300;
  font-size: 20px;
}

#clear-button {
  margin-left: 10px;
  font-family: paralucent, sans-serif;
  font-weight: 300;
  font-size: 18px;
  margin-right: 15px;
}

/* REVIEw INDEX */

#review-index-title h1 {
  margin-top: 15px;
  font-family: paralucent, sans-serif;
  font-weight: 500;
  color: #ee274f;
}

.review-tile-li { 
  display: block;
  clear: both;
}

#review-index-container {
  margin: 0 15% 0 15%;
}

.reviewSituation {
  height: 100%;
  
}

.review-tile-image {
  background-color: #0b1019;
  padding-bottom: 20px;
  border-radius: 0 0 25px 25px;
  width: 250px;
  float: left;
  margin-top: 15px;
  font-family: paralucent, sans-serif;
  font-size: 20px;
  font-variant: small-caps;
  text-align: center;
  margin-right: 20px;
}

.review-index-buttons {
  height: 100%;
}
