/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

body {
  font-family: "Vollkorn", serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

ul {
  list-style-type: none;
}

.attraction-tile-image {
  width: 150px;
  height: 190px;
  text-overflow: ellipses;
}

.attraction-tile-li {
  vertical-align: middle;
  display: inline-block;
  background-color: #333333;
  padding: 5px 5px 5px 5px;
  margin: 20px;
  text-align: center;
}

.attraction-tile-li a {
  color: white;
}

.attraction-text {
  margin-top: 10px;
  line-height: 1.25;
}

.attraction-link {
  margin-left: 35px;
}

.attraction-link {
  height: 25px;
  background-color: #333333;
}

.banner-image {
  position: relative;
  text-align: center;
  color: black;
}

.bottom-center {
  position: absolute;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff,
    0 0 50px #fff, 0 0 60px #fff, 0 0 70px #fff;
  top: 8px;
  left: 16px;
}

.dog-image {
  width: 32px;
  display: inline-block;
  margin-left: 35px;
}

.name h1 {
  display: inline-block;
}

.reviewSituation {
  height: 190px;
  display: flex;
  flex-direction: column;
}

.review-tile-li {
  width: 100%;
  margin: 20px;
}

.review-tile-image {
  text-align: center;
  color: white;
  background-color: #333333;
  padding: 5px 5px 5px 5px;
  width: 150px;
  text-overflow: ellipses;
  float: left;
  margin-right: 20px;
}

.review-text {
  margin-top: 10px;
  line-height: 1.25;
}

.review-index-title {
  margin-left: 35px;
}
