<div>
  <div class="banner-image">
    <div class="bottom-center">
      <span class="header-subtitle">
      </span>
    </div>
  </div>

  <div class="spanImage">
    <div class="imageText">
      <h3>Do Boston like<br /> a local</h3>
      <h4>COOL THINGS TO DO IN THE CITY<br/>OF NEIGHBORHOODS</h4>
    </div>
    <%= image_tag "BostonImage.jpg", :class => "imageToSpan" %>
  </div>

  <ul class="attractions-container">
  <% if @attractions %>
    <% @attractions.each do |attraction| %>
      <a href = "/attractions/<%= attraction.id %>">
        <li class="attraction-tile-li">
          <div class="attraction-tile-image" >
            <img src="<%= attraction.image_url %>", class="attraction_tile_actual_image" />
          </div>
          <div class="attraction-text">
            <%= link_to attraction.name, attraction_path(attraction) %>
          </div>
        </li>
      </a>
    <% end %>
  <% end %>
  </ul>


</div>
