<div>
  <div class="banner-image">
    <%= image_tag "BostonTopSpots.jpg" %>
    <div class="bottom-center">
      <h2>Find Local Attractions, Book Tours,</h2>
      <h2>Experience Boston</h2>
      <span class="header-subtitle">
        Find amazing things to do in Boston today!
      </span>
    </div>
  </div>

  <div class="attraction-link">
  </div>

  <ul>
  <% if @attractions %>
    <% @attractions.each do |attraction| %>
      <li class="attraction-tile-li">
        <div class="attraction-tile-image" >
        <img src="<%= attraction.image_url %>" />
        <div class="attraction-text">
        <%= link_to attraction.name, attraction_path(attraction) %>
        </div>
      </div>
      </li>
    <% end %>
  <% end %>
  </ul>


</div>
